{% extends 'base.html' %}
{% load static %}

{% block title %}
    Welcome to drchrono
{% endblock %}

{% block extra_header %}
    <meta http-equiv="refresh" content="4;{% url 'kiosk' %}" />
    <link rel="stylesheet" href='{% static 'drchrono/css/kiosk-style.css' %}'>
{% endblock %}


{% block body %}
    <div style="display: inline; text-align: center">
        <div class="form-container">
            <h1> You successfully checked in. Please wait for doctor to call you in.</h1>
            <br><br>
            <img src="{% static 'drchrono/images/success.png' %}" style="margin-right: auto; margin-left: auto; display: block;">
        </div>
    </div>

{% endblock %}


