{% extends 'base.html' %}
{% load static %}

{% block title %}
    Welcome to drchrono
{% endblock %}

{% block extra_header %}
    <link rel="stylesheet" href='{% static 'drchrono/css/kiosk-style.css' %}'>
{% endblock %}


{% block body %}
    <div style="text-align: center">
        <div class="form-container">
            <h1>Welcome to Dr. {{ doctor.first_name }} {{ doctor.last_name }}'s Office</h1>
            <br><br>

            <img src="{%  static 'drchrono/images/checkin.png' %}" class="center-logo">

            <br><br>

            <span style="left: 50%">
                <a href="{% url 'kioskCheckin' %}" class="custom-button" >Check-in here</a>
            </span>
        </div>
    </div>

{% endblock %}

