<!DOCTYPE html>
<html>
  <body>

  </body>
</html>


{% extends 'base.html' %}
{% load static %}

{% block title %}
    Welcome to drchrono
{% endblock %}

{% block extra_header %}
    <link rel="stylesheet" href='{% static 'drchrono/css/kiosk-style.css' %}'>
{% endblock %}


{% block body %}
    <div style="text-align: center">
        <div class="form-container">
            <h1>Welcome to "Doctor! Doctor! I am stressed!" Project </h1>
            <br><br>

            <img src="{% static 'drchrono/images/medical.png' %}" class="center-logo">

            {% if 'dashboard' in permissions %}
                <span style="left: 50%">
                    <a href="{% url 'dashboard' %}" class="custom-button" >Go to your dashboard</a>
                </span>

                <span style="left: 50%">
                    <a href="{% url 'kiosk' %}" class="custom-button" >Go to your kiosk</a>
                </span>

                <span style="left: 50%">
                    <a href="{% url 'setup' 'deauthorize' %}" class="custom-button" >De-authorize</a>
                </span>

            {% elif 'kiosk' in permissions %}
                <p>The kiosk is already active. In order to de-authorize the kiosk, go to your DrChrono Account in App Dictionary.</p>
                <span style="left: 50%">
                    <a href="{% url 'kiosk' %}" class="custom-button" >Back to Kiosk</a>
                </span>
            {% else %}
                <span style="left: 50%">
                    <a href="{% url 'social:begin' 'drchrono' %}?where=kiosk" class="custom-button" >Set up your Check-in kiosk</a>
                </span>

                <span style="left: 50%">
                    <a href="{% url 'social:begin' 'drchrono' %}?where=dashboard" class="custom-button" >Set up your dashboard</a>
                </span>
            {% endif %}
        </div>
    </div>

{% endblock %}